.desktop2,
.main4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.desktop2 {
  width: 100%;
  background-color: var(--Background-Background-4);
  overflow-y: auto;
  line-height: normal;
  letter-spacing: normal;
}
.main4 {
  align-self: stretch;
  height: 305px;
  background-color: var(---);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-80) var(--padding-40);
  box-sizing: border-box;
  gap: var(--gap-100);
  text-align: center;
  font-size: var(--fs-60);
  color: var(--Background-Background-4);
  font-family: var(--font-noto-sans-kr);
}
.content4,
.content5 {
  height: var(--height-63);
  z-index: 0;
}
.content4 {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  max-width: var(--max-w-1500);
}
.content5 {
  width: 457px;
  margin: 0 !important;
  position: absolute;
  top: -14px;
  left: 354px;
  justify-content: center;
  flex-shrink: 0;
}
.content5,
.text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.curriculum2 {
  margin: 0;
  width: 501.2px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.07em;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.main5 {
  align-self: stretch;
  height: 3770px;
  background-color: var(--Background-Background-4);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-80) var(--padding-40);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-100);
}
.nd-img-1-icon,
.suleman-sani {
  width: var(--width-1280);
  left: 0;
}
.suleman-sani {
  height: 87px;
  position: absolute;
  margin: 0 !important;
  top: -60px;
  border-radius: var(--br-50);
  background-color: var(---);
  z-index: 0;
}
.nd-img-1-icon {
  top: 129px;
  border-radius: var(--br-30) var(--br-30) var(--br-0) var(--br-0);
  z-index: 1;
}
.nd-img-1-icon,
.nd-img-2-icon,
.nd-img-3-icon,
.nd-img-4-icon {
  position: absolute;
  margin: 0 !important;
  max-height: 100%;
  object-fit: cover;
}
.nd-img-4-icon {
  width: var(--width-1280);
  top: 2619px;
  left: 0;
  z-index: 2;
}
.nd-img-2-icon,
.nd-img-3-icon {
  width: 1024px;
  top: 1646px;
  left: 128px;
  z-index: 3;
}
.nd-img-2-icon {
  width: 1025px;
  top: 4460px;
  left: 145.5px;
  z-index: 4;
}
.content6,
.main6 {
  display: flex;
  align-items: center;
}
.main6 {
  align-self: stretch;
  background-color: var(--Background-Background-4);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: 70px var(--padding-40);
  position: relative;
  gap: var(--gap-100);
}
.content6 {
  width: 100%;
  height: var(--height-63);
  max-width: var(--max-w-1500);
  z-index: 0;
}
.main-child {
  width: var(--width-1280);
  position: absolute;
  margin: 0 !important;
  top: 187px;
  left: 0;
  border-radius: var(--br-50);
  background-color: var(---);
  height: var(--height-107);
  z-index: 1;
}
@media screen and (max-width: 1050px) {
  .curriculum2 {
    font-size: var(--fs-48);
    line-height: var(--lh-50);
  }
}
@media screen and (max-width: 750px) {
  .main4 {
    gap: var(--gap-25);
  }
  .curriculum2 {
    font-size: var(--fs-36);
    line-height: var(--lh-38);
  }
  .main6 {
    gap: var(--gap-25);
  }
}
@media screen and (max-width: 450px) {
  .main4,
  .main6 {
    gap: var(--gap-50);
  }
}
