.desktop,
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.desktop {
  width: 100%;
  background-color: var(--Background-Background-4);
  overflow-y: auto;
  line-height: normal;
  letter-spacing: normal;
}
.main {
  align-self: stretch;
  height: 305px;
  background-color: var(---);
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-80) var(--padding-40);
  box-sizing: border-box;
  gap: var(--gap-100);
  text-align: center;
  font-size: var(--fs-60);
  color: var(--Background-Background-4);
  font-family: var(--font-noto-sans-kr);
}
.content,
.content2 {
  height: var(--height-63);
  z-index: 0;
}
.content {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  max-width: var(--max-w-1500);
}
.content2 {
  width: 457px;
  margin: 0 !important;
  position: absolute;
  top: -14px;
  left: 354px;
  justify-content: center;
  flex-shrink: 0;
}
.content2,
.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.curriculum {
  margin: 0;
  width: 501.2px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.07em;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.main2 {
  align-self: stretch;
  height: 4049px;
  background-color: var(--Background-Background-4);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-80) var(--padding-40);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-100);
}
.gray-box-one,
.st-img-1-icon {
  width: var(--width-1280);
  left: 0;
}
.gray-box-one {
  height: 87px;
  position: absolute;
  margin: 0 !important;
  top: -60px;
  border-radius: var(--br-50);
  background-color: var(---);
  z-index: 0;
}
.st-img-1-icon {
  top: 127px;
  border-radius: var(--br-30) var(--br-30) var(--br-0) var(--br-0);
  z-index: 1;
}
.st-img-1-icon,
.st-img-2-icon,
.st-img-3-1-icon {
  position: absolute;
  margin: 0 !important;
  max-height: 100%;
  object-fit: cover;
}
.st-img-2-icon {
  width: 1025px;
  top: 1992px;
  left: 127px;
  z-index: 2;
}
.st-img-3-1-icon {
  width: var(--width-1280);
  top: 2883px;
  left: 0;
  z-index: 3;
}
.content3,
.main3 {
  display: flex;
  align-items: center;
}
.main3 {
  align-self: stretch;
  background-color: var(--Background-Background-4);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-64) var(--padding-40);
  position: relative;
  gap: var(--gap-100);
}
.content3 {
  width: 100%;
  height: var(--height-63);
  max-width: var(--max-w-1500);
  z-index: 0;
}
.gray-box-three {
  width: var(--width-1280);
  height: var(--height-107);
  position: absolute;
  margin: 0 !important;
  top: 187px;
  left: 0;
  border-radius: var(--br-50);
  background-color: var(---);
  z-index: 1;
}
@media screen and (max-width: 1050px) {
  .curriculum {
    font-size: var(--fs-48);
    line-height: var(--lh-50);
  }
}
@media screen and (max-width: 750px) {
  .main {
    gap: var(--gap-25);
  }
  .curriculum {
    font-size: var(--fs-36);
    line-height: var(--lh-38);
  }
  .main3 {
    gap: var(--gap-25);
  }
}
@media screen and (max-width: 450px) {
  .main,
  .main3 {
    gap: var(--gap-50);
  }
}
