.desktop4 {
  width: 100%;
  position: relative;
  background-color: var(--Background-Background-4);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: normal;
  letter-spacing: normal;
}
