.desktop3,
.main7,
.services-section {
  display: flex;
  flex-direction: column;
  position: relative;
}
.desktop3 {
  width: 100%;
  background-color: var(---);
  overflow-y: auto;
  align-items: center;
  line-height: normal;
  letter-spacing: normal;
}
.main7,
.services-section {
  align-self: stretch;
  background-color: var(--Background-Background-2);
}
.main7 {
  align-items: flex-start;
  max-width: 100%;
}
.services-section {
  align-items: center;
  z-index: 1;
  text-align: left;
  font-size: var(--fs-60);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.services-section-child {
  width: var(--width-1280);
  position: absolute;
  margin: 0 !important;
  top: -60.5px;
  left: 0;
  border-radius: 30px;
  background-color: var(---);
  height: 87px;
  z-index: 0;
}
.testimonial-section {
  width: var(--width-1280);
  height: 120px;
  background-color: var(--Background-Background-2);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-100) var(--padding-0);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-10);
  z-index: 3;
  text-align: center;
  font-size: var(--fs-30);
  color: var(--Background-Background-4);
}
.h2,
.icon {
  margin: 0 !important;
  position: absolute;
}
.icon {
  width: 657.5px;
  height: 124.1px;
  top: 15.5px;
  left: 594px;
  object-fit: contain;
  z-index: 0;
}
.h2 {
  width: 568px;
  height: 49px;
  top: 258.5px;
  left: 100px;
  font-size: inherit;
  letter-spacing: -0.04em;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.testimonial-section2 {
  width: var(--width-1280);
  height: 293px;
  background-color: var(--Background-Background-2);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-100) var(--padding-0);
  box-sizing: border-box;
  position: relative;
  z-index: 4;
  text-align: center;
  font-size: var(--fs-30);
  color: var(--Background-Background-4);
  font-family: var(--font-noto-sans-kr);
}
.child,
.div {
  box-sizing: border-box;
}
.div {
  width: 657.5px;
  height: 124.1px;
  margin: 0 !important;
  position: absolute;
  top: 22.5px;
  left: 9px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) 38.1px var(--padding-30);
  z-index: 0;
}
.child {
  width: var(--width-627);
  border-radius: var(--br-60);
  background-color: var(---);
  border: var(--border-1);
  height: var(--height-86);
  flex-shrink: 0;
  z-index: 1;
}
.child,
.h22,
.wrapper {
  position: relative;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px var(--padding-0) var(--padding-0);
  z-index: 2;
  margin-left: -597.5px;
}
.h22 {
  margin: 0;
  width: 568px;
  height: 49px;
  font-size: inherit;
  letter-spacing: -0.04em;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.item {
  height: 96.6px;
  width: 97.8px;
  position: absolute;
  margin: 0 !important;
  top: 27.5px;
  left: 0;
  object-fit: contain;
  z-index: 3;
}
.section-5 {
  width: 100%;
  height: var(--height-151);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-20) var(--padding-0) var(--padding-20)
    var(--padding-20);
  box-sizing: border-box;
  position: relative;
  max-width: var(--max-w-1500);
  z-index: 6;
  text-align: center;
}
.h23 {
  margin: 0 !important;
  height: var(--height-79);
  width: 533px;
  position: absolute;
  top: 19.5px;
  left: calc(50% - 246px);
  font-size: inherit;
  letter-spacing: -0.07em;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 0;
}
.span {
  color: var(---);
}
.card,
.section-2 {
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
.section-2 {
  width: 100%;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-20) var(--padding-20)
    var(--padding-0);
  max-width: var(--max-w-1500);
  z-index: 8;
  font-size: var(--fs-40);
  color: var(--Background-Background-4);
}
.card {
  width: 1044px;
  border-radius: var(--br-20);
  background-color: var(---);
  align-items: center;
  padding: var(--padding-80);
  gap: 70px;
}
.content7,
.text3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content7 {
  flex: 1;
}
.text3 {
  align-self: stretch;
  gap: var(--gap-40);
}
.div2,
.h24 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.04em;
}
.h24 {
  margin: 0;
  font-size: inherit;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
}
.div2 {
  font-size: var(--fs-16);
  line-height: 110%;
}
.p,
.p2 {
  margin: 0;
}
.p2 {
  white-space: pre-wrap;
}
.image-icon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.section-6 {
  width: 100%;
  height: 1204px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-0) var(--padding-20)
    var(--padding-20);
  box-sizing: border-box;
  position: relative;
  gap: 137px;
  max-width: var(--max-w-1500);
  z-index: 10;
}
.div3,
.icon2 {
  position: absolute;
  margin: 0 !important;
}
.icon2 {
  width: 1145px;
  top: 231px;
  left: 68px;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.div3 {
  width: 572px;
  top: 79px;
  left: calc(50% - 572px);
  letter-spacing: -0.07em;
  line-height: 105%;
  display: inline-block;
  z-index: 1;
}
.span3 {
  color: var(--color-black);
}
.ai,
.div4 {
  position: absolute;
  margin: 0 !important;
  line-height: 105%;
}
.ai {
  height: 57px;
  width: 883px;
  top: 1118px;
  left: calc(50% - 441px);
  font-size: var(--fs-40);
  letter-spacing: -0.04em;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
  display: inline-block;
  z-index: 2;
}
.div4 {
  width: 572px;
  top: 79px;
  left: calc(50% - 572px);
  letter-spacing: -0.07em;
  display: none;
  z-index: 3;
}
.section-7 {
  width: 100%;
  height: 934px;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-0) var(--padding-20)
    var(--padding-20);
  box-sizing: border-box;
  position: relative;
  gap: 137px;
  max-width: var(--max-w-1500);
  z-index: 11;
}
.unnamed-2-photoroom-1-icon {
  width: 345px;
  top: 230px;
  left: 684px;
  max-height: 100%;
  object-fit: cover;
  z-index: 0;
}
.div5,
.unnamed-2-photoroom-1-icon,
.unnamed-photoroom-1-icon {
  position: absolute;
  margin: 0 !important;
  flex-shrink: 0;
}
.unnamed-photoroom-1-icon {
  width: 345px;
  top: 230px;
  left: 249px;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.div5 {
  width: 914px;
  top: 81px;
  left: calc(50% - 572px);
  letter-spacing: -0.07em;
  line-height: 105%;
  display: inline-block;
  z-index: 2;
}
.content8,
.experts-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experts-section {
  align-self: stretch;
  height: 683px;
  background-color: var(--Background-Background-2);
  overflow: hidden;
  flex-shrink: 0;
  padding: 160px var(--padding-20);
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  font-size: var(--fs-60);
  color: var(---);
  font-family: var(--font-noto-sans-kr);
}
.content8 {
  width: 1040px;
  gap: 60px;
  max-width: var(--max-w-1500);
}
.div6,
.h25 {
  align-self: stretch;
  position: relative;
  line-height: 105%;
}
.h25 {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.07em;
  font-weight: 400;
  font-family: inherit;
}
.div6 {
  font-size: var(--fs-30);
  letter-spacing: -0.04em;
  color: var(--color-black);
}
.main-item {
  width: var(--width-1280);
  height: 87px;
  position: absolute;
  margin: 0 !important;
  top: 7960px;
  left: 0;
  border-radius: 30px;
  background-color: var(---);
  z-index: 2;
}
@media screen and (max-width: 1050px) {
  .h2,
  .h22 {
    font-size: var(--fs-24);
    line-height: var(--lh-25);
  }
  .h23 {
    font-size: var(--fs-48);
    line-height: var(--lh-50);
  }
  .section-2 {
    gap: 94px;
  }
  .card {
    gap: var(--gap-35);
    padding-left: var(--padding-40);
    padding-right: var(--padding-40);
    box-sizing: border-box;
  }
  .h24 {
    font-size: var(--fs-32);
    line-height: var(--lh-34);
  }
  .div3 {
    font-size: var(--fs-48);
    line-height: var(--lh-50);
  }
  .ai {
    font-size: var(--fs-32);
    line-height: var(--lh-34);
  }
  .div4,
  .div5 {
    font-size: var(--fs-48);
    line-height: var(--lh-50);
  }
  .content8 {
    gap: 30px;
  }
  .h25 {
    font-size: var(--fs-48);
    line-height: var(--lh-50);
  }
  .div6 {
    font-size: var(--fs-24);
    line-height: var(--lh-25);
  }
}
@media screen and (max-width: 750px) {
  .section-2 {
    gap: 47px;
  }
  .card {
    gap: var(--gap-17);
  }
  .experts-section {
    padding-top: 104px;
    padding-bottom: 104px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .h2,
  .h22 {
    font-size: var(--fs-18);
    line-height: var(--lh-19);
  }
  .h23 {
    font-size: var(--fs-36);
    line-height: var(--lh-38);
  }
  .section-2 {
    gap: 23px;
  }
  .card {
    padding-top: var(--padding-52);
    padding-bottom: var(--padding-52);
    box-sizing: border-box;
  }
  .content7 {
    gap: var(--gap-35);
  }
  .text3 {
    gap: var(--gap-20);
  }
  .h24 {
    font-size: var(--fs-24);
    line-height: var(--lh-25);
  }
  .div3 {
    font-size: var(--fs-36);
    line-height: var(--lh-38);
  }
  .ai {
    font-size: var(--fs-24);
    line-height: var(--lh-25);
  }
  .div4,
  .div5,
  .h25 {
    font-size: var(--fs-36);
    line-height: var(--lh-38);
  }
  .div6 {
    font-size: var(--fs-18);
    line-height: var(--lh-19);
  }
}
