.button-on-dark {
  margin: 0 !important;
  position: absolute;
  top: 195px;
  left: 472px;
  border-radius: var(--br-51_6);
  background-color: var(--Background-Background-4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12);
  z-index: 1;
  text-align: left;
  font-size: var(--fs-16);
  color: var(---);
  font-family: var(--font-noto-sans-kr);
}
.connect-with-our {
  position: relative;
  letter-spacing: -0.04em;
  line-height: 110%;
}
