.footer,
.footer-h1 {
  position: relative;
  flex-shrink: 0;
}
.footer {
  align-self: stretch;
  height: var(--height-346);
  background-color: var(---);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-32) var(--padding-40);
  box-sizing: border-box;
  gap: var(--gap-301);
  text-align: center;
  font-size: var(--fs-28);
  color: var(--Background-Background-4);
  font-family: var(--font-noto-sans-kr);
}
.footer-h1 {
  margin: 0;
  width: var(--width-447);
  font-size: var(--fs-40);
  letter-spacing: -0.04em;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  text-align: left;
  display: inline-block;
  z-index: 0;
}
.footer-child,
.footer-h2,
.h29 {
  margin: 0 !important;
  position: absolute;
}
.footer-child {
  width: var(--width-227);
  top: 151.9px;
  left: 529px;
  border-radius: var(--br-30);
  background-color: var(--Background-Background-4);
  height: var(--height-41);
  z-index: 1;
}
.footer-h2,
.h29 {
  width: var(--width-235);
  top: 129.9px;
  left: calc(50% - 537px);
  font-size: inherit;
  letter-spacing: -0.04em;
  line-height: 110%;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.h29 {
  width: var(--width-98);
  left: calc(50% + 378px);
  z-index: 3;
}
.div20,
.footer-div {
  top: 194.9px;
  font-size: var(--fs-16);
  font-weight: 500;
}
.footer-div {
  width: var(--width-234);
  position: absolute;
  margin: 0 !important;
  left: calc(50% - 537px);
  letter-spacing: -0.04em;
  line-height: 110%;
  display: inline-block;
  z-index: 4;
}
.div20 {
  width: var(--width-284);
  left: calc(50% + 285px);
  z-index: 5;
}
.a,
.copyright-2025-mori,
.div20 {
  position: absolute;
  margin: 0 !important;
  letter-spacing: -0.04em;
  line-height: 110%;
  display: inline-block;
}
.copyright-2025-mori {
  width: var(--width-1200);
  top: 310.9px;
  left: 39px;
  font-size: var(--fs-12);
  font-weight: 500;
  font-family: var(--font-work-sans);
  text-align: left;
  z-index: 6;
}
.a {
  width: var(--width-235);
  top: 156.9px;
  left: 529px;
  text-decoration: underline;
  font-weight: 700;
  color: var(---);
  z-index: 7;
}
