.hero-section {
  width: var(--width-1280);
  border-radius: var(--br-0) var(--br-0) var(--br-16) var(--br-16);
  background-color: var(---);
  border: var(--border-1);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 98px 39px;
  max-width: 100%;
  z-index: 0;
}
.hero-section-content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--gap-80);
  max-width: var(--max-w-1500);
}
.block,
.hero-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.block {
  flex: 1;
  position: relative;
  gap: var(--gap-50);
  text-align: center;
  font-size: var(--fs-80);
  color: var(--Background-Background-4);
  font-family: var(--font-noto-sans-kr);
}
.hero-section-text {
  width: 674px;
  gap: var(--gap-24);
  z-index: 0;
}
.hero-section-div {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.08em;
  line-height: 100%;
}
.hero-section-p {
  margin: 0;
}
.div7 {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-15);
  letter-spacing: -0.04em;
  line-height: 110%;
  font-weight: 500;
}
.hero-section-image-icon {
  width: 429px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
@media screen and (max-width: 1200px) {
  .hero-section-content {
    gap: var(--gap-40);
  }
}
@media screen and (max-width: 1050px) {
  .hero-section-content {
    flex-wrap: wrap;
  }
  .hero-section-div {
    font-size: var(--fs-40);
    line-height: var(--lh-48);
  }
  .hero-section-image-icon {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .hero-section {
    gap: var(--gap-50);
    padding-top: var(--padding-64);
    padding-bottom: var(--padding-64);
    box-sizing: border-box;
  }
  .hero-section-content {
    gap: var(--gap-20);
  }
  .block {
    gap: var(--gap-25);
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .hero-section {
    gap: var(--gap-25);
  }
  .hero-section-div {
    font-size: var(--fs-24);
    line-height: var(--lh-32);
  }
}
