.large-button {
  width: 130px;
  height: 53px;
  border-radius: 88px;
  background-color: var(---);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-24) var(--padding-30);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--fs-16);
  color: var(--Background-Background-4);
  font-family: var(--font-noto-sans-kr);
}
.large-button-connect-with-our {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 100%;
  font-weight: 500;
}
