.section-4 {
  width: 100%;
  height: 1453px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-20) var(--padding-0) var(--padding-20)
    var(--padding-20);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-0);
  max-width: var(--max-w-1500);
  z-index: 5;
  text-align: center;
  font-size: var(--fs-60);
  color: var(--color-black);
  font-family: var(--font-noto-sans-kr);
}
.section-4-div {
  height: 944px;
  width: 1031px;
  position: absolute;
  margin: 0 !important;
  top: 213.5px;
  left: 132px;
  z-index: 0;
}
.section-4-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 546px;
  height: 386px;
  object-fit: cover;
}
.icon3,
.icon4 {
  width: 544px;
  height: var(--height-384);
  object-fit: cover;
}
.icon3 {
  position: absolute;
  top: 176px;
  left: 156px;
}
.icon4 {
  top: 368px;
  left: 345px;
}
.div15,
.icon4,
.icon5 {
  position: absolute;
}
.icon5 {
  top: 560px;
  left: 488px;
  width: 543px;
  height: var(--height-384);
  object-fit: cover;
}
.div15 {
  width: 467px;
  margin: 0 !important;
  top: 46.5px;
  left: 57px;
  letter-spacing: -0.07em;
  line-height: 105%;
  text-align: left;
  display: inline-block;
  z-index: 1;
}
.section-4-p {
  margin: 0;
}
.section-4-span {
  color: var(---);
}
.h28,
.section-4-h2 {
  margin: 0 !important;
  height: var(--height-79);
  width: 861px;
  position: absolute;
  top: 1219.5px;
  left: calc(50% - 430px);
  font-size: inherit;
  letter-spacing: -0.07em;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.h28 {
  width: 581px;
  top: 1285.5px;
  left: calc(50% - 290px);
  z-index: 3;
}
@media screen and (max-width: 1050px) {
  .div15,
  .h28,
  .section-4-h2 {
    font-size: var(--fs-48);
    line-height: var(--lh-50);
  }
}
@media screen and (max-width: 450px) {
  .div15,
  .h28,
  .section-4-h2 {
    font-size: var(--fs-36);
    line-height: var(--lh-38);
  }
}
