.testimonial-section3 {
  width: var(--width-1280);
  height: var(--height-346);
  background-color: var(--Background-Background-2);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-100) var(--padding-0);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-10);
  z-index: 2;
  text-align: center;
  font-size: var(--fs-30);
  color: var(--Background-Background-4);
  font-family: var(--font-noto-sans-kr);
}
.testimonial-section3-h2 {
  margin: 0 !important;
  width: 849px;
  height: 66px;
  position: absolute;
  top: 93.5px;
  left: calc(50% - 425px);
  font-size: var(--fs-60);
  letter-spacing: -0.07em;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-black);
  display: inline-block;
  z-index: 0;
}
.testimonial-section3-div {
  width: 657.5px;
  height: 124.1px;
  position: absolute;
  margin: 0 !important;
  top: 239.5px;
  left: 26px;
  z-index: 1;
}
.h27,
.inner {
  position: absolute;
}
.inner {
  top: 0;
  left: 30.5px;
  border-radius: var(--br-60);
  background-color: var(---);
  border: var(--border-1);
  box-sizing: border-box;
  width: var(--width-627);
  height: var(--height-86);
}
.h27 {
  margin: 0;
  top: 28px;
  left: 60px;
  font-size: inherit;
  letter-spacing: -0.04em;
  line-height: 105%;
  font-weight: 400;
  font-family: inherit;
}
.polygon-icon {
  position: absolute;
  top: 27.5px;
  left: 0;
  width: 97.8px;
  height: 96.6px;
  object-fit: contain;
}
.div13 {
  width: 853.5px;
  height: 207.5px;
  position: absolute;
  margin: 0 !important;
  top: 100px;
  left: 100px;
  display: none;
  z-index: 2;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 226.5px;
  border-radius: var(--br-60);
  background-color: var(---);
  border: var(--border-1);
  box-sizing: border-box;
  width: var(--width-627);
  height: var(--height-86);
}
.div14 {
  position: absolute;
  top: 158.5px;
  left: 0;
  letter-spacing: -0.04em;
  line-height: 105%;
}
@media screen and (max-width: 1050px) {
  .testimonial-section3-h2 {
    font-size: var(--fs-48);
    line-height: var(--lh-50);
  }
  .div14,
  .h27 {
    font-size: var(--fs-24);
    line-height: var(--lh-25);
  }
}
@media screen and (max-width: 450px) {
  .testimonial-section3-h2 {
    font-size: var(--fs-36);
    line-height: var(--lh-38);
  }
  .div14,
  .h27 {
    font-size: var(--fs-18);
    line-height: var(--lh-19);
  }
}
