@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:ital,wght@0,400;0,500;0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,500&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Figma Variables */

  /* Color */
  ---: #558bcf;

  /* Common Style Variables */

  /* Color */
  --Background-Background-2: #f9f9f9;
  --Background-Background-4: #fff;
  --color-black: #000;
  --color-gainsboro: #d9d9d9;
  --Text-on-accent-1: #fff;

  /* Gap */
  --gap-0: 0px;
  --gap-10: 10px;
  --gap-17: 17px;
  --gap-20: 20px;
  --gap-24: 24px;
  --gap-25: 25px;
  --gap-28: 28px;
  --gap-35: 35px;
  --gap-40: 40px;
  --gap-50: 50px;
  --gap-80: 80px;
  --gap-100: 100px;
  --gap-301: 301px;

  /* Padding */
  --padding-0: 0px;
  --padding-12: 12px;
  --padding-20: 20px;
  --padding-24: 24px;
  --padding-30: 30px;
  --padding-32: 32px;
  --padding-40: 40px;
  --padding-52: 52px;
  --padding-60: 60px;
  --padding-64: 64px;
  --padding-80: 80px;
  --padding-100: 100px;

  /* BorderRadius */
  --br-0: 0px;
  --br-16: 16px;
  --br-20: 20px;
  --br-30: 30px;
  --br-50: 50%;
  --br-60: 60px;
  --br-51_6: 51.6px;

  /* Font */
  --font-noto-sans-kr: Noto Sans KR;
  --font-work-sans: Work Sans;

  /* FontSize */
  --fs-12: 12px;
  --fs-15: 15px;
  --fs-16: 16px;
  --fs-18: 18px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-28: 28px;
  --fs-30: 30px;
  --fs-32: 32px;
  --fs-36: 36px;
  --fs-40: 40px;
  --fs-48: 48px;
  --fs-60: 60px;
  --fs-80: 80px;

  /* Borders */
  --border-1: 1px solid var(---);

  /* Gradients */
  --gradient-1: linear-gradient(
    90deg,
    var(---) 70%,
    var(--Background-Background-4)
  );

  /* WidthHeights */
  --height-3: 3px;
  --height-18: 18px;
  --height-41: 41px;
  --height-42: 42px;
  --height-59: 59px;
  --height-63: 63px;
  --height-79: 79px;
  --height-86: 86px;
  --height-101: 101px;
  --height-107: 107px;
  --height-151: 151px;
  --height-209: 209px;
  --height-346: 346px;
  --height-384: 384px;
  --max-w-1500: 1500px;
  --width-98: 98px;
  --width-192: 192px;
  --width-196: 196px;
  --width-221: 221px;
  --width-227: 227px;
  --width-230: 230px;
  --width-234: 234px;
  --width-235: 235px;
  --width-257: 257px;
  --width-284: 284px;
  --width-447: 447px;
  --width-627: 627px;
  --width-1200: 1200px;
  --width-1280: 1280px;

  /* LineHeights */
  --lh-18: 18px;
  --lh-19: 19px;
  --lh-20: 20px;
  --lh-21: 21px;
  --lh-25: 25px;
  --lh-26: 26px;
  --lh-32: 32px;
  --lh-34: 34px;
  --lh-38: 38px;
  --lh-48: 48px;
  --lh-50: 50px;

  /* LetterSpacings */
  --ls--0_04: -0.04;
  --ls--0_07: -0.07;
}
